rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /solicitud-critica/{fileId} {      
      allow write, read: if false;
    }
    match /solicitud-diseno/{fileId} {
      allow write: if request.resource.size < 5 * 1024 * 1024
                   && request.resource.contentType.matches('image/.*');
      allow read: if true;
    }
    match /inscripcion/{fileId} {      
      allow write: if request.resource.size < 5 * 1024 * 1024
                   && request.resource.contentType.matches('image/.*');
      allow read: if true;
    }
    match /miscelanea/{fileId} {
      allow write: if false;
      allow read: if true;
    }
  }
}